.form{
    display: grid;
    @include grid(12, 256px);
    min-width: 16rem;    
    width: 80%; // Equivale a width: 16rem;   
    row-gap: 0.75rem;
}
.form_admin{
    height: 7.5rem;
}

.form_admin_empresa{
    min-height: 30rem;
}

.form__label_admin{
    @include pos-col(1, 4);


}
.form__input_admin{
    @include pos-col(5, 8);
    

}

.form__label_limite{
    @include pos-col(1, 10); 

}
.form__input_limite{
    @include pos-col(11, 2);
    

}

.form__label_paginacion{
    @include pos-col(1, 4); 

}
.form__input_paginacion{
    @include pos-col(5, 2);
    

}

.form__parrafo_paginacion{
    @include pos-col(7, 2);
    text-align: center
    

}
.form__prev_paginacion{
    @include pos-col(10, 1);
   

}
.form__next_paginacion{
    @include pos-col(12, 1);
   

}



.form__input_contactenos{
    @include pos-col(1, 12);

}

.form__input_buscar-servicio{
    @include pos-col(7, 6);
}
.form__input_buscar-servicio_radio{
    @include pos-col(9, 4);

}

.form__label-input_buscar-servicio{
    @include pos-col(1, 4);
}
.form__label-input_buscar-servicio_radio{
    @include pos-col(1, 8);

}


.form__btn_locate{
    @include pos-col(1, 12);
   
}

.form__btn_buscar-servicio{
    @include pos-col(1, 12);

}


.form_type_dashboard{
    display: grid;
    @include grid(12, 256px);
    align-items: center;

}

.form_type_suscripcion{
    display: grid;
    @include grid(12, 256px);

}

.form__text{
    @include pos-col(1, 12);
    
}

.form__label{
    @include pos-col(1, 5);
}

.form__label_login{
    @include pos-col(1, 5);

}
.form__input_login{
    @include pos-col(6, 7);

}

.form__btn_suscripciones{
    @include pos-col(1, 12);
    margin-left: auto;
    margin-right: auto;
}
.form__btn_servicios{
    @include pos-col(1, 12);
    margin-left: auto;
    margin-right: auto;
}

.form__btn_cuenta{
    @include pos-col(1, 12);
    margin-left: auto;
    margin-right: auto;
}

.form__btn_actualizar
{
    @include pos-col(1, 5);
    margin-left: auto;
    margin-right: auto;

}

.form__btn_eliminar
{
    @include pos-col(7, 6);
    margin-left: auto;
    margin-right: auto;

}


.form__btn_guardar{
    @include pos-col(1, 12);
    margin-left: auto;
    margin-right: auto;
}
.form__btn_login{
    @include pos-col(1, 12);
    margin-left: auto;
    margin-right: auto;
}

.form__input_registro{
    @include pos-col(7, 6);
}
.form__label_registro-direccion{
    @include pos-col(1, 4);
}
.form__input_registro-direccion{
    @include pos-col(5, 8);
}
.form__input_registro_login-info{
    @include pos-col(5, 8);
}
.form__label_registro_login-info{
    @include pos-col(1, 4);
}

.form__btn_secondary{
    @include pos-col(1, 7);
    justify-self: left;

}



.form__input-container{
    position: relative;
}

.form__field-container_tel{
    @include pos-col(1, 12);
   

}


.form__input_suscripcion{
    @include pos-col(1, 1);
    align-self: center;
}

.form__label_suscripcion{
    @include pos-col(2, 12);

}

@mixin form-375{

}

@mixin form-425{

}

@mixin form-576{
    .form{       
        height: 20rem; // Equivale a width: 16rem;
        row-gap: 1.7rem;   
    
    }
    .form_admin{
        height: 7.5rem;
    }

    .form_dashboard{
        height: auto;
    }

    .form_login{
        height: auto;
    }

    .form_registrarse{
        height: auto;
    }
    .form_type_dashboard{
        height: auto;
    
    }

}

@mixin form-768{



}

@mixin form-992{



}



