.main{
    display: grid;
    @include grid;
    min-height: 100%;
    row-gap: 1rem;


}

.main__section{
    @include pos-col(1, 12);
    justify-self: center;
    
}

.main__paginas_title{
    @include pos-col(1, 12);
    justify-self: center;
    
}

.main__paginas_body{
    @include pos-col(1, 12);
    
    justify-self: center;
    
}

.main__section_hidden{
    visibility: hidden;
    
}


.main__form-container_dashboard{
    @include pos-col(1, 12);

}


@mixin main-375{
    .main{
        @include grid($size:$screen-xxs);
        // padding: 0 0.5rem 0 0.5rem;
    }
}

@mixin main-425{
    .main{
        @include grid($size:$screen-xs);
        
    }
    .main__section{
        @include pos-col(2, 10);
    }
 
}

@mixin main-576{
    .main{
        @include grid($size:$screen-s);
        
    }


 
    
 
}


@mixin main-768{
    .main{
        @include grid($size:$screen-m);
        
    }

 
}

@mixin main-992{
    .main{
        @include grid($size:$screen-l);
        
    }
 
}

@mixin main-1200{
    
    .main{
        @include grid($size:$screen-xl);
        padding: 0.5rem;
        
    }
    
    .main__section{
        @include pos-col(1, 5);
        justify-self: center;
    }

    .main__section_resultados-busqueda{
        @include pos-col(6, 7);
        @include pos-row(1, 2);
        min-width: 40rem;
        // justify-self: center;

    }

    .main__section_dashboard{
        @include pos-col(6, 7);
        @include pos-row(1, 2);
        min-width: 40rem;

    }

    .main__form-container{
        @include pos-col(1, 5);
    }

    .main__form-container_login{
        @include pos-col(4, 6);

    }


    .main__form-container_dashboard{
        @include pos-col(1, 5);

    }

    .main__form-container_registro{
        @include pos-col(3, 8);
     

    }
    
    // .main__search-results{
    //     visibility:visible;
    //     @include pos-col(6, 7);
    //     @include pos-row(1, 2);
    // }
    
    // .main__unete{
    //     @include pos-col(1, 5);
    // }
  

}

@mixin main-1300{
    
    .main{
        @include grid($size:$screen-xxl);
       row-gap: 2rem;
        
    }
}

@mixin main-1440{
    
    .main{
        @include grid($size:$screen-xxxl);
       row-gap: 5rem;
        
    }
}