.pagina
{
    display: grid;
    @include grid;
}

.pagina__data
{
    @include pos-col(2, 5);
    width: 100%;
    
}
.pagina__data_btn
{
    @include pos-col(7, 6);
    width: 100%;
    
}
.pagina__data_paginas
{
    @include pos-col(2, 11);
    width: 100%;

    @include disp-flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    // @include flex-locate;
    
}
.pagina__registro
{
    @include pos-col(2, 7);
}

.pagina__registro_servicio
{
    @include pos-col(2, 8);
}
.pagina__checkbox
{
    @include pos-col(9, 3);
    justify-self: center;
    align-self: center;

}

.pagina__checkbox_servicio
{
    @include pos-col(10, 3);
    justify-self: center;
    align-self: center;

}

.pagina__info
{
    @include pos-col(2, 7);
    justify-self: center;
}
.pagina__activa
{
    @include pos-col(9, 3);
    justify-self: center;
}