.registro
{
    display: grid;
    @include grid($size: 160px);
    row-gap: 0.5rem;
}

.registro__btn_crear
{
    @include pos-col(4, 5);

}

.registro__label
{
    @include pos-col(1, 5);
}

.registro__label_long
{
    @include pos-col(1, 7);
}

.registro__label_check-conf
{
    @include pos-col(1, 8);
}
.registro__nuevasus
{
    @include pos-col(1, 12);
    width: 100%;
}

.registro__perfil
{
    @include pos-col(3, 3);
}

.registro__input
{
    @include pos-col(6, 7);
    
}

.registro__input_servicio
{
    @include pos-col(1, 12);
    
}

.registro__input_smallbox
{
    @include pos-col(9, 4);
    
}

.registro__input_short
{
    
    width: 6rem;
}

.registro__input_shorter
{
    
    width: 3rem;
}
.registro__input_long
{
    
    width: 10rem;
}

.registro__input_longer
{
    
    width: 11.5rem;
}
.registro__input_check-conf{
    @include pos-col(9, 1);
    width: 0.75rem;
    

}
.registro__input_check
{
    @include pos-col(6, 1);
    width: 0.75rem;
    
}

.registro__btn_actualizar
{
    @include pos-col(1, 5);
}
.registro__btn_eliminar
{
    @include pos-col(7, 5);
}