.tabla{
    width: 100%;
}

.tabla_busqueda{
    width: 90%
}


@mixin tabla-375 {
    .tabla_busqueda{
        width: 90%
    }

}

@mixin tabla-425 {
    .tabla_busqueda{
        width: 95%
    }

}