.text{
    font-size: $mobatingo-font-4;
}

.text_registrarse{
    width: 70%;
    padding: 0 0.25rem 0 0.25rem;

}

.text_radio{
    font-weight: 500;

}
.text_buscar{
    font-weight: 500;

}

.text_ofertas_titulo{
    @include round($color:$border-color-primary);
    background-color: $bg-general-primary;
    min-width: 8rem;
    min-height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

.text_card{
    font-size: $mobatingo-font-3;
    text-align: center;
}

.text_unete{
    text-align: center;
}

.text_copyright{
    font-size: $mobatingo-font-3;
    
}


@mixin text-576{
    .text_registrarse{
        width: 100%;
        text-align: center;
    }
    
}



@mixin text-768{
    .text_redes{
        font-size: $mobatingo-font-3;
    }
    
}

@mixin text-992{

    .text_registrarse{
        font-size: $mobatingo-font-7;
        
    }
    .text_ofertas_titulo{

        width: 12rem;


    }

    .text_unete{
        font-size: $mobatingo-font-7;
    }

    .text_redes{
        font-size: $mobatingo-font-4;
    }
    
}



