.text{
    font-size: $mobatingo-font-4;
}

.text_info_mobil
{
    font-size: $mobatingo-font-3;
}

.text_indicador
{
    font-size: $mobatingo-font-3;
}

.text_resultado_tabla{
    font-size: $mobatingo-font-3;

}
.text_header_tabla{
    text-align: left;

}

.text_section_buscar-servicio{
    font-weight: 500;
}


.text_registrarse{
    width: 70%;
    padding: 0 0.25rem 0 0.25rem;

}

.text_radio{
    font-weight: 500;

}
.text_title_buscar{
    font-weight: 500;

}

.text_registrarse_titulo{
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.text_login_titulo{
    font-weight: 500;
    width: 100%;
    text-align: center;

}

.text_form_titulo-seccion{
    font-weight: 500;
    width: 100%;
}

.text_dashboard_title{
    font-weight: 500;
    width: 100%;
    text-align: center;

}

.text_micuenta{
    font-weight: 500;
    width: 100%;
    text-align: left;
}


.text_ofertas_titulo{
    @include round($color:$border-color-primary);
    background-color: $bg-general-primary;
    min-width: 8rem;
    min-height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

.text_card{
    font-size: $mobatingo-font-3;
    text-align: center;
}

.text_unete{
    text-align: center;
}

.text_copyright{
    font-size: $mobatingo-font-3;
    
}


@mixin text-576{
    .text_registrarse{
        width: 100%;
        text-align: center;
    }
    
}



@mixin text-768{
    .text_redes{
        font-size: $mobatingo-font-3;
    }

    .text_resultado_tabla{
    font-size: $mobatingo-font-4;

    }
    
}

@mixin text-992{

    .text_registrarse{
        font-size: $mobatingo-font-7;
        
    }
    .text_ofertas_titulo{

        width: 12rem;


    }

    .text_unete{
        font-size: $mobatingo-font-6;
    }

    .text_redes{
        font-size: $mobatingo-font-4;
    }


.text_resultado_tabla{
    font-size: $mobatingo-font-4;

}
    
}



@mixin text-1200{


.text_resultado_tabla{
    font-size: $mobatingo-font-5;

}
.text_header_tabla{
    font-size: $mobatingo-font-5;

}

}

