.unete{
    min-width: 20rem;
    min-height: 7rem;
    background-color: $bg-general-primary;
    @include background-img('../images/banners/unete.png');
    @include round($color: $border-color-primary, $radio: 1.5rem);
    @include disp-flex;
    @include flex-locate(flex-end, center);
}


@mixin unete-576{
    .unete{
        padding-right: 3rem;
        width: 100%;
    }
}


@mixin unete-992{
    .unete{
        background-position: 15%;
        height: 10rem;
        padding-right: 11rem;
    }
    
}
@mixin unete-1200{
    .unete{
     width: 50%;
     padding-right: 1rem;
    }
    
}